.git
.github
.next
node_modules
coverage
out
build
*.md
!README.md
.env
.env.*
!.env.example
*.db
*.db-journal
*.tsbuildinfo
next-env.d.ts
.DS_Store
npm-debug.log*
Dockerfile
docker-compose.yml
.editorconfig
LICENSE
